.row-fluid
  .span4
    = partial :list, scores: @recentChart, title: 'recent games'
  .span4
    = partial :list, scores: @recentPeopleChart, title: 'recent players'
  .span4
    = partial :list, scores: @overAllChart, title: 'all time best players'


