.row-fluid
  .span4
    = partial :list, scores: @recentChart, title: 'recent plays chart'
  .span4
    = partial :list, scores: @weeklyChart, title: 'weekly chart'
  .span4
    = partial :list, scores: @overAllChart, title: 'all time chart'

%br
play again:
= succeed ',' do
  %a{:href => '/?easy'} easy
%a{:href => '/?medium'} medium
or
%a{:href => '/?hard'} hard
