.row-fluid
  .span4
    = partial :list, scores: @overAllChart, title: 'all time best players'
  .span4
    = partial :list, scores: @recentPeopleChart, title: 'recent players'
  .span4
    = partial :list, scores: @recentChart, title: 'recent games'

%br
  <strong>Note</strong>: this is a beta version of the game and the scores might be reset in the future.
%br
