%table
  %tr
    %td
      %canvas{id: 'gamecanvas', height: 0, width: 0}
    %td.gameinfo
      time:
      %span#time
        0:00
      %br
      moves:
      %span#moves
        0/0

%script{src: "netconnect.js"}