- content_for :head do
  %meta{property: 'og:description', content: 'Simple puzzle game to challenge your logical thinking!'}
  %meta{name: 'description', content: 'Simple puzzle game to challenge your logical thinking. Play directly in the browser!'}
  %link{rel: 'canonical', href: 'http://connecteverything2.herokuapp.com'}

- unless @already_played
  #instructions.modal.fade
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {hidden: 'true'} } &times;
      %h3 Connect everything 2
    .modal-body
      %p.muted A simple but challenging Logic/Puzzle game written using Html5
      %h2 Rules
      %p The <strong>rules</strong> of <em>connect everything</em> are simple: click on the pieces to rotate the cables in such a way that
      %ul
        %li
          every piece becomes <strong>connected</strong> to every other one, and
        %li
          there are no cables left unconnected (unconnected cables have white endpoints)
      %p The game is <strong>lost</strong> if you make a <strong>wrong move</strong> or you run out of time.
      %p Try to <strong>think logically</strong>!
    .modal-footer
      %button.btn.btn-primary{ type: 'button', data: {dismiss: 'modal'}, aria: {hidden: 'true'}} Got it, let me play!
  :javascript
    $(document).ready( function() {
      $('#instructions').modal();
      $('#instructions').find('.btn').focus();
    });

- if @expert_mode
  #expert-mode

%table#game.hide
  %tr
    %td
      %canvas#gamecanvas{height: 0, width: 0}
    %td.gameinfo

      .level
        Level
        %span.level-num
          1
      %br
      %strong
        %span#score
          0

      /%br
      /%br
      /moves:
      /%strong
      /  %span#moves.moves
      /    0/0
      %br
      points
      %br
      %span#time.hide
        0:00
        %br
      %br
      %br
      %br
      %button#save-score.btn.btn-primary
        Save

%p#loading
  %br
  loading first level

#game-over.modal.hide.fade
  .modal-header
    %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {hidden: 'true'} } &times;
    %h3 Game Over!
  .modal-body
    .points
      %span.points-number 0
      points
    .level
      level
      %span.level-number
        0

    %form#game-over-form{action: '/submitscore', method: 'post'}
      %input{name: 'level', type: 'hidden', value: '0'}
      %input{name: 'score', type: 'hidden', value: '0'}
      - if @name && @name.size > 0
        %input#nameinput{name: 'name', type: 'text', value: @name, placeholder: 'Enter your name...', maxlength: '14'}
      - else
        %input#nameinput{name: 'name', type: 'text', placeholder: 'Enter your name...', maxlength: '14'}
    = partial(:list, title: 'recent players', scores: @chart) unless @chart.empty?

  .modal-footer
    %button.btn{ type: 'button', data: {dismiss: 'modal'}, aria: {hidden: 'true'}} Cancel
    %a.btn{href: @expert_mode ? '/expert' : '/'} New Game
    %button#submit-score.btn.btn-primary{type: 'submit', form: 'game-over-form'} Save score

:javascript
  $(document).ready( function() {

    text_input = $('#nameinput');
    $('#game-over').on('shown', function() {
      text_input.focus();
      if (text_input.val() != '') {
          text_input.select();
      }
    });
    $('#submit-score').click(function() {
      if (text_input.val() == '') {
        alert('Please enter your name');
        return false;
      }
    });
    $('#game-over').on('hidden', function() {
       $('#save-score').show();
    })
    $('#save-score').hide();
    $('#save-score').click(function() {
       $('#game-over').modal();
    });
    $('footer').addClass('hide')
  });
%script{src: "detectmobilebrowser.js"}
%script{src: "netconnect.js"}