%table
  %tr
    %td
      %canvas{id: 'gamecanvas', height: 0, width: 0}
    %td.gameinfo
      moves:
      %strong
        %span#moves.moves
          0/0
      %br
      time:
      %span#time
        0:00

%script
  serializedGame = "#{@game.serialize}";
%script{src: "netconnect.js"}