!!!
%html
  %head
    %title Connect everything!
    %link{href: "bootstrap.min.css", rel: "stylesheet", media: "screen"}
    %link{href: "style.css", rel: "stylesheet"}
  %body
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39370657-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://code.jquery.com/jquery.js"}
    =yield
    %br
    play
    = succeed ',' do
      %a{:href => '/?easy'} easy
    %a{:href => '/?medium'} medium
    or
    %a{:href => '/?hard'} hard
    |
    %a{:href => 'rules'} rules
    |
    %a{:href => 'hiscores'} hiscores