!!!
%html
  %head
    %title Connect everything! v2
    %link{href: "/bootstrap.min.css", rel: "stylesheet", media: "screen"}
    %link{href: "/style.css", rel: "stylesheet"}
    %meta{property: 'og:image', content: base_url + '/screen.png'}
    %meta{property: 'og:description', content: 'You can rotate the pieces by clicking on them. Connect all pieces to win the game.'}
  %body
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39370657-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://code.jquery.com/jquery.js"}
    %script{src: '/jquery.color-2.1.2.min.js'}
    %script{src: '/jquery.easing.min.js'}
    %script{src: '/bootstrap.min.js'}
    =yield
    %a{:href => '/'} new game
    |
    %a{:href => '/rules'} rules
    |
    %a{:href => '/hiscores'} hiscores