.row-fluid
  .span6.offset3.text
    %h2 Rules
    The <strong>rules</strong> of <em>connect everything</em> are simple: you need to rotate the pieces in such a way that
    %ul
      %li
        every piece is <strong>connected</strong> to every other one, and
      %li
        there are no endpoints left unconnected (they should not be white!)
    To gain extra points try to solve the game using as few <strong>moves</strong> (mouse clicks) as possible and in as few <strong>time</strong> as possible.
    Think <strong>logically</strong> and aim at not making any moves more than necessary (<strong>+0</strong>). This will make your <strong>score</strong> much higher.
    %br
    %br
    To solve the game it might be useful to know that
    %ul
      %li there is only <strong>one</strong> correct solution to every game, and
      %li there are no cycles
    
    %h2 Gameplay
    Use mouse <strong>clicks</strong> to rotate the pieces. The <strong>spacebar</strong> can be used to <strong>mark</strong> pieces: just hover the piece you want to mark with the mouse and then press the space key.
    It can for example be useful to mark pieces once you are sure of their orientation.
%br
 