#submitscore
  .points
    %span.pointsnumber
      = @params[:points].to_f.round(1)
    points
  .level
    level:
    = @params[:difficulty]
  .time
    time: 
    = @params[:time]
  .moves
    +#{@params[:moves]} moves
  %form{action: '/submitscore', method: 'post'}
    %input{name: 'moves', type: 'hidden', value: @params[:moves]}
    %input{name: 'time', type: 'hidden', value: @params[:time]}
    %input{name: 'difficulty', type: 'hidden', value: @params[:difficulty]}
    %input{name: 'points', type: 'hidden', value: @params[:points]}
    - if @name && @name.size > 0
      %input{id: 'nameinput', name: 'name', type: 'text', value: @name, placeholder: 'Enter your name...'}
    - else
      %input{id: 'nameinput', name: 'name', type: 'text', placeholder: 'Enter your name...'}
    %br
    %input.btn{type: 'submit'}
:javascript
  var text_input = document.getElementById ('nameinput');
  if (text_input.value != '') {
    text_input.focus ();
    text_input.select ();
  }
