#submitscore
  %h1
    Game Over!
  .points
    %span.pointsnumber
      = @params[:score].to_f.round(1)
    points
  .level
    level:
    = @params[:level]
  %form{action: '/submitscore', method: 'post'}
    %input{name: 'level', type: 'hidden', value: @params[:level]}
    %input{name: 'score', type: 'hidden', value: @params[:score]}
    - if @name && @name.size > 0
      %input{id: 'nameinput', name: 'name', type: 'text', value: @name, placeholder: 'Enter your name...', maxlength: '14'}
    - else
      %input{id: 'nameinput', name: 'name', type: 'text', placeholder: 'Enter your name...', maxlength: '14'}
    %br
    %input.btn.btn-primary{type: 'submit', value:'Add to charts'}


%br
= partial(:list, title: 'recent players', scores: @chart) unless @chart.empty?

:javascript
  var text_input = document.getElementById ('nameinput');
  text_input.focus ();
  if (text_input.value != '') {
    text_input.select ();
  }
