body {
    background-color: black;
    text-align: center;
    font-size: 14px;
    color: #E8E8E8;
}

canvas {
    background-color: black;
    margin-top: 5px;
}

span#time {
    color: white;
}

span.moves {
    color: white;
}

table {
    margin: 0 auto;
}

th {
    color: white;
    font-weight: bold;
    padding: 0 10px;
}

td {
    padding: 3px 5px;
}   

td.name,
td.points {
    font-weight: bold;
}

td.name {
    text-align: left;
}

td.pos {
    text-align: right;
    color: gray;
}

.good {
    color: rgb(0, 190, 0);
}

.average {
    color: orange;
}

.bad {
    color: rgb(255, 58, 58);
}

tr.newscore {
    background: #003FA3;  
}

.hiscore {
    margin-top: 30px;
}

#submitscore {
    margin-top: 100px;
}

input {
    margin-top: 5px;
}

#container {
    text-align: center;
}
.text {
    text-align: left;
}

.pointsnumber {
    font-size: 25px;
}


.gameinfo {
    color: gray;
    padding-top: 60px;
    vertical-align: top;
    text-align: left;
    min-width: 150px;
}
