body {
    background-color: black;
    background-image: none;
    text-align: center;
    font-size: 14px;
    color: #E8E8E8;
}

.modal {
    border-radius: 6px;
    border-bottom-style: solid;
}
button.close {
    color: white;
}

.modal-header{
    border-bottom-color: #434343;
}

.modal-footer {
    background-color: #434343;
}

#instructions {
    text-align: left;
}

canvas {
    background-color: black;
    margin-top: 5px;
}

span#time {
    color: white;
    font-size: 3em;
}

span#score {
    font-size: 3em;
    color: white;
    font-weight: bold;
}
span.level-num {
    font-weight: bold;
    color: white
}

table {
    margin: 0 auto;
}

th {
    color: white;
    font-weight: bold;
    padding: 0 10px;
}

td {
    padding: 3px 5px;
}   

td.name,
td.points {
    font-weight: bold;
}

td.name {
    text-align: left;
}

td.pos {
    text-align: right;
    color: gray;
}

.good {
    color: rgb(0, 190, 0);
}

.average {
    color: orange;
}

.bad {
    color: rgb(255, 58, 58);
}

tr.newscore {
    background: #004d84;
}

.hiscore {
    margin-top: 30px;
}

input {
    margin-top: 5px;
}

#container {
    text-align: center;
}

.text {
    text-align: left;
}

.text h1 {
    color: #aaa;
}

.points-number {
    font-size: 25px;
}
.level-number {
    font-weight: bold;
}


.gameinfo {
    color: gray;
    padding-top: 60px;
    vertical-align: top;
    text-align: left;
    min-width: 150px;
}

#disqus_thread {
    margin-top: 30px;
}